* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #0c005a;
    height: 100vh;
    display: flex;
}

.memory {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.container {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
}

.container.flip {
    transform: rotateY(180deg);
}

.container:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.disabled {
    visibility: hidden;
}

.front, .back {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg)
}

.header-text {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 8.7vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
}

.game-button {
    background-color: rgba(42, 196, 90); 
    border-radius: 16px;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    position: absolute;
    font-size: 4.5vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
